@import 'header';
@import 'index';
@import 'contactos';
@import 'footer';
@import 'galeria';
@import 'eventos';

body{ 
    background-color: black;
    .titulo { 
        font-family: 'Euphoria Script', cursive;
        font-size: 200%;
        color:white;
        text-align: center;
    }
}

.texto{
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
}